/* Global styles
------------------------------------------------------*/
html {
  box-sizing: border-box;
  *, *:before; *:after {
    box-sizing: inherit;
  }
}

/*Color links & text are light green, rest of body text is dark green */
body {
  /*font-family: Book Antiqua, serif;*/
  font-family: 'Spline Sans Mono', monospace;
  color: #00003f;
  margin: 0;
  padding: 0;
  text-align: justify;
  font-size: : 15px;
  line-height: 1.5;
}
/*profile photo */
img {
width: 200px;
border-radius: 5px;
  }

/* Links are set up for each category*/
  /*
  a {
    color: #d9d9ff;
    padding: 8px;
    border-radius: 3px;

  }
  /* links style
  a:visited {
    color: white;
  }
  a:hover {
    background: #F8F8FF;
    color: #00003f;
    font-weight: bold;
  }
  */

/*header styles */
h2 {
  margin: 0;
}
h1, h2, h3 {
  font-family: 'Special Elite', cursive;
}
/* all content inside the page EXCEPT the skills (see below)  */
.content-wrap {
  max-width: 75%;
  margin: 0 auto;
  padding: 30px 0;
}

/* Divider */
.section-divider {
  color: #00003f;
  align-items: center;
}


/* Profile section
------------------------------------------------------*/
header {
background: #00003f; /* dark blue*/  /*#F8F8FF; /*gri inchis */  /*#183E25;*/
color: #d9d9ff; /*very light blue */ /*#2F4F4F /*dark green * / /*#C0D5BE;*/
text-align: justify;
}
/* header profile photo + introduction */
.header-float {
  overflow: hidden;
}

.page-title {
  text-align: center;
}


/* projects
------------------------------------------------------*/
.projects {
  background: #F8F8FF;
  color: #00003f; /* dark blue*/
}

/* links */
a.projects:link {
  color: #00003f;
  padding: 8px;
  border-radius: 3px;
}
/* links style */
a.projects:visited {
  color: #d9d9ff;
}
a.projects:hover {
  background: #000064; /* navy */
  color: #d9d9ff;  /*blue white */
  font-weight: bold;
}



/* Work experience
------------------------------------------------------*/
.experience {
  background: #F8F8FF;
  color: #00003f;
}



/* Education & certifications
------------------------------------------------------*/
.cert-education {
background: #F8F8FF;
color: #00003f;
}


/* Skills
------------------------------------------------------*/
.skills {
background: #F8F8FF;
color: #00003f;
}

/* skills header style */
.skills-h {
  text-align: inherit;
  max-width: 75%;
  margin: 0 auto;
  padding-top: 30px;
  border-spacing: 20px;
}
/* skills wrapped into 3 columns for readability in full screen/desktop mode*/
.skills-wrap {
  max-width: 75%;
  margin: 0 auto;
  padding-bottom: 30px;
  column-count: 3;
  column-width: 200px;
  column-gap: 30px;
}



/* Contact
------------------------------------------------------*/
footer {
  background: #00003f;
  color: #d9d9ff;
  text-align: center;
}
.contact-list {
  list-style-type: none;
  padding: 0;
  justify-content: center;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}

/* links */
a {
  color: #d9d9ff;
  padding: 8px;
  border-radius: 3px;
}
/* links style */
a:visited {
  color: #d9d9ff;
}
a:hover {
  background: #F8F8FF;
  color: #00003f;
  font-weight: bold;
}

/* responsive style
------------------------------------------------------*/
/* Adjusting the layout to different scenarios when in smaller screens */
@media screen and (min-width:750px){
  body {
    text-align: left;
  }
    .header-float img {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
}
/*adjust text size in smaller screen sizes*/
@media screen and (max-width:749px){
  h1, h2, h3 {
    font-size: 20px;
  }
  .contact-list a {
    padding: 5px;
  }
}
