/* Global styles
------------------------------------------------------*/
html {
  box-sizing: border-box;
  *, *:before; *:after {
    box-sizing: inherit;
  }
}

/*Color links & text are light green, rest of body text is dark green */
body {
  /*font-family: Book Antiqua, serif;*/
  font-family: 'Spline Sans Mono', monospace;
  color: #343434;
  margin: 0;
  padding: 0;
  text-align: justify;
  font-size: : 15px;
  line-height: 1.5;
}
/*profile photo */
img {
width: 300px;
border-radius: 5px;
  }
  /* links */
a {
  color: #646464;
  padding: 8px;
  border-radius: 3px;

}
/* links style */
a:visited {
  color: gray;
}
a:hover {
  background: #183E25;
  font-weight: bold;
}
/*header styles */
h2 {
  margin: 0;
}
h1, h2, h3 {
  font-family: 'Special Elite', cursive;
}
/* all content inside the page EXCEPT the skills (see below)  */
.content-wrap {
  max-width: 75%;
  margin: 0 auto;
  padding: 30px 0;
}


/* Profile section
------------------------------------------------------*/
header {
background: #183E25;
color: #C0D5BE;
text-align: justify;
}
/* header profile photo + introduction */
.header-float {
  overflow: hidden;
}

.page-title {
  text-align: center;
}



/* projects
------------------------------------------------------*/
.projects {
  background: #88B69A;
  color: #27292C;
}


/* Work experience
------------------------------------------------------*/
.experience {
  background: #88B69A;
}



/* Education & certifications
------------------------------------------------------*/
.cert-education {
background: #88B69A;
color: #27292C;
}


/* Skills
------------------------------------------------------*/
.skills {
background: #88B69A;
color: #27292C;
}

/* skills header style */
.skills-h {
  text-align: inherit;
  max-width: 75%;
  margin: 0 auto;
  padding-top: 30px;
  border-spacing: 20px;
}
/* skills wrapped into 3 columns for readability in full screen/desktop mode*/
.skills-wrap {
  max-width: 75%;
  margin: 0 auto;
  padding-bottom: 30px;
  column-count: 3;
  column-width: 200px;
  column-gap: 30px;
}



/* Contact
------------------------------------------------------*/
footer {
  /*background: #254D32; - dark green - unused as the background is a photo*/
  color: #C0D5BE;
  text-align: center;
  background-image: url(../images/green.jpg);
  background-size: cover;
  opacity: 0.92;
}
.contact-list {
  list-style-type: none;
  padding: 0;
  justify-content: center;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}

/* responsive style
------------------------------------------------------*/
/* Adjusting the layout to different scenarios when in smaller screens */
@media screen and (min-width:750px){
  body {
    text-align: left;
  }
    .header-float img {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
}
/*adjust text size in smaller screen sizes*/
@media screen and (max-width:749px){
  h1, h2, h3 {
    font-size: 20px;
  }
  .contact-list a {
    padding: 5px;
  }
}
